<template name="articles">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{title}}</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="articles-scroll"}}
      {{#ionList}}
        {{#each this}}
          <a class="item item-thumbnail-left item-text-wrap" href="/articles/{{_id}}">
            <img src="{{image}}">
            <h2>{{title}}</h2>
            <p>{{summary}}</p>
          </a>
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
