<template name="article">
  {{#contentFor "headerButtonLeft"}} {{>ionNavBackButton text="Nazaj"}} {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="padding" }}
      <h1 class="title">{{title}}</h1>
      <h5>{{author}}</h5>
      {{{html}}}
      <br/>
      <br/>
      <div class="row responsive-lg">
        {{#each images}}
          <div class="col col-20" align="center">
            <img src="{{this.src}}" height="150px">
            <h5>{{this.title}}</h5>
          </div>
        {{/each}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
