<head>
</head>

<body>
</body>
<template name="ApplicationLayout">
  {{#ionBody}}
    {{#ionSideMenuContainer side="left" }}
      {{#ionSideMenus}}
        {{#ionSideMenu}}
          <div class="content has-header">
            <div class="list">
              <a data-ion-menu-close class="item item-icon-right " href="/">
                {{> ionIcon icon="ios-arrow-right"}} Zadnje novice
            </a>
              <a data-ion-menu-close class="item item-icon-right " href="/articles/type/SLO_TECH">
                {{> ionIcon icon="ios-arrow-right"}} Slo Tech
            </a>
              <a data-ion-menu-close class="item item-icon-right " href="/articles/type/RACUNALNISKE_NOVICE">
                {{> ionIcon icon="ios-arrow-right"}} Računalniške novice
            </a>
              <a data-ion-menu-close class="item item-icon-right " href="/articles/type/GIZZMO">
                {{> ionIcon icon="ios-arrow-right"}} Gizzmo
            </a>
            <a data-ion-menu-close class="item item-icon-right " href="/articles/type/SLO_ANDROID">
                {{> ionIcon icon="ios-arrow-right"}} Slo Android
            </a>
            <a data-ion-menu-close class="item item-icon-right " href="/articles/type/24UR">
                {{> ionIcon icon="ios-arrow-right"}} 24ur IT
            </a>
            <a data-ion-menu-close class="item item-icon-left " href="#">
                <i class="icon ion-settings"></i>Settings
            </a>
            </div>
          </div>
        {{/ionSideMenu}}
      {{/ionSideMenus}}
      {{#ionSideMenuContent}}
        {{> ionNavBar class="bar-dark"}}
        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}
      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}
  {{/ionBody}}
</template>
