$positive: #de4f4f;
$loading-font-size: 22px;
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';
.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: "Roboto", sans-serif;
  }
  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}
.ion-slide {
  text-align: center;
  padding-top: 200px;
  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}
.popover {
  height: auto;
}
.item-button-left,
.item-button-right {
  button {
    top: 16px !important;
  }
}
